In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(pd.read_csv("train.csv"))
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [8]:
df.shape

(891, 12)

In [9]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
drop_col = df.isnull().sum()[df.isnull().sum()>(35/100 * df.shape[0])]
drop_col

Cabin    687
dtype: int64

In [27]:
drop_col.index

Index(['Cabin'], dtype='object')

In [28]:
df.drop(drop_col.index, axis=1, inplace=True)
df.isnull().sum()

KeyError: ignored

In [ ]:
df.fillna(df.mean(), inplace = true)
df.isnull().sum()

In [29]:
df['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [30]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [31]:
df.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.036847 -0.077221 -0.369226  ... -0.308247 -0.189119  0.096067
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

In [32]:
df['FamilySize'] = df['SibSp']+df['Parch']
df.drop(['SibSp', 'Parch'], axis=1, inplace=True)
df.corr()

             PassengerId  Survived    Pclass       Age      Fare  FamilySize
PassengerId     1.000000 -0.005007 -0.035144  0.036847  0.012658   -0.040143
Survived       -0.005007  1.000000 -0.338481 -0.077221  0.257307    0.016639
Pclass         -0.035144 -0.338481  1.000000 -0.369226 -0.549500    0.065997
Age             0.036847 -0.077221 -0.369226  1.000000  0.096067   -0.301914
Fare            0.012658  0.257307 -0.549500  0.096067  1.000000    0.217138
FamilySize     -0.040143  0.016639  0.065997 -0.301914  0.217138    1.000000

In [33]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head

<bound method NDFrame.head of      PassengerId  Survived  Pclass  ... Embarked FamilySize  Alone
0              1         0       3  ...        S          1      0
1              2         1       1  ...        C          1      0
2              3         1       3  ...        S          0      1
3              4         1       1  ...        S          1      0
4              5         0       3  ...        S          0      1
..           ...       ...     ...  ...      ...        ...    ...
886          887         0       2  ...        S          0      1
887          888         1       1  ...        S          0      1
888          889         0       3  ...        S          3      0
889          890         1       1  ...        C          0      1
890          891         0       3  ...        Q          0      1

[891 rows x 11 columns]>

In [34]:
df.groupby(['Alone'])['Survived'].mean()

Alone
0    0.505650
1    0.303538
Name: Survived, dtype: float64

In [35]:
df[['Alone', 'Fare']].corr()

          Alone      Fare
Alone  1.000000 -0.271832
Fare  -0.271832  1.000000

In [36]:
df['Sex'] = [0 if df['Sex'][i]=='male' else 1 for i in df.index]
df.groupby(['Sex'])['Survived'].mean()

Sex
0    0.188908
1    0.742038
Name: Survived, dtype: float64

In [37]:
df.groupby(['Embarked'])['Survived'].mean()

Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64